<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrNOGPyMtomiEQIVz-FFW27LCjdNHX2Fs</string>
	<key>GCM_SENDER_ID</key>
	<string>538910573075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felipe-vallejo.xs</string>
	<key>PROJECT_ID</key>
	<string>grace-627b9</string>
	<key>STORAGE_BUCKET</key>
	<string>grace-627b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538910573075:ios:ff4779ee92fbad3b0c35e6</string>
</dict>
</plist>